.container {
  padding: 25px 0 0 25px;
}

.details-item {
  font-size: 22px;
}

.degrees {
  position: relative;
  padding-right: 10px;
}

.degrees img {
  position: absolute;
  top: 0;
  right: 0;
}
