.search-field {
  grid-area: search;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  /* &__bth {
    border: none;
    background-color: transparent;
		} */
}

.search {
  display: inline-block;
  width: 100%;
  padding: 12px 40px 12px 15px;
  border: none;
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 15px;
}
